<activity
    android:name="com.example.YourActivityName"
    android:label="@string/activity_name" >
    <intent-filter
        android:label="@string/addon_name"
        android:icon="@drawable/addon_icon">
        <action android:name="com.google.android.apps.docs.editors.sheets.ADDON" />
    </intent-filter>
</activity>
